<div *ngIf="app$ | async as state">
  <h1><span class="badge badge-primary">NGXS</span> Salad Bar</h1>


  <p>Order ID: <span class="badge badge-success">{{ state.orderId }}</span></p>
  <p>Username: <span class="badge badge-success">{{ state.username }}</span></p>

  <div *ngIf="!state.username">
    <input class="form-control" aria-placeholder="your name..." type="text" [(ngModel)]="username">
    <button class="btn btn-outline-secondary" [disabled]="!username" (click)="clickHandler(username)">Name for this
      Order
    </button>
  </div>
</div>
